<ion-header>
  <ion-navbar>
    <ion-title>
      Minha Lista de Jogos
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content id ="jogo-background" class="cards-bg">
  <div *ngFor='let list of lists'>
    <br>
    <ion-card class="cards-list">
      <ion-card-header *ngIf="list">
        <b>{{ list.name }}</b>
      </ion-card-header>
      <ion-list>
        <div *ngFor='let item of itens'>
            <div *ngIf='(item.id == list.id)'>
              <button ion-item>
                {{ item.name }}
                <ion-icon name="arrow-forward" id="arrow" item-end></ion-icon>
              </button>
            </div>
        </div>
      </ion-list>
    </ion-card>
  </div>
</ion-content>
